/***************************************
  * http://www.program-o.com
  * PROGRAM O
  * Version: 2.3.1
  * FILE: help.css
  * AUTHOR: Elizabeth Perreau and Dave Morton
  * DATE: 06-10-2013
  * DETAILS: Provides style and presentation settings for the help page
  ***************************************/
div.row { clear: both; padding-top: 8px; border: none; width: 95%; margin-left: auto; margin-right: auto; }
div.row span.label {float: left; width: 49.5%; text-align: left; padding-left: 3px; background-color: #DDFFFF; border: 1px outset #999; padding-top: 3px; padding-bottom: 3px;}
div.row span.label:hover, div.row span.formw:hover {background-color: #EEE;}
.center { text-align: center; }
.bold { font-weight: bold; }
#container{
  margin: 0 auto;
  padding: 1em;
  text-align: left;
  background-color: white;
  overflow: auto;
}
      div.row {
        width: 98%;
      }
      div.row span.label {
        width: 25%;
        margin-right: 12px;
      }
      .description {
        background-color: transparent;
        margin-left: 28%;
        clear: right;
        width: 72%;
      }
      .description:hover {
        background-color: transparent;
      }
      .row:hover {
        background-color: #DDD;
      }
      .highlighted {
        background-color: #66CCFF;
      }
      .highlighted:hover {
        background-color: #FFFFAA;
      }
      .red {
        color: red;
        font-weight: bold;
          padding: 0 5px;
      }
      .underline {
          box-shadow: 0px 3px 4px 1px #000;
          margin-bottom: 9px;
      }
    .big {
      font-size: x-large;
      line-height: 120%;
      margin: 9px 0;
        box-shadow: 0px 3px 4px 1px #000;
        background: url('../images/sectionHeader.png') repeat-x scroll 0% 0%;
        text-shadow: 1px 2px 3px #666;
    }
@media screen and (max-width: 1280px){
  body {
    padding: 0;
    overflow: auto;
  }

  #container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0.51px;
  }
  #form_table {
    width: 100%;
    margin: 0;
  }

}
