/*
My Program-O Version: 2.3.1
Program-O  chatbot admin area
Written by Elizabeth Perreau and Dave Morton
Aug 2011
for more information and support please visit www.program-o.com
*/

/* CSS3 HTML5 Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {line-height:1;}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {display:block;}

nav ul {list-style:none;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {text-decoration: line-through;}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {border-collapse:collapse; border-spacing:0;}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
input, select {vertical-align:middle;}

/* End of CSS Reset */
html, body  {height: 100%;}
body {
  background-color: white;
  background-color: #9FC03A;
  background: url(images/CompRule.png) repeat;
  background: url(images/body_fade.jpg) repeat-x;
  background: #DDE none;
  color: #000000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div {box-sizing: border-box; -moz-box-sizing: border-box;}

fieldset {
  border: 2px solid orange;
  padding: 12px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 125%;
  border-radius: 12px;
  box-shadow: 4px 4px 6px 2px #A7A7D3, inset 2px 2px 3px 1px #A7A7D3;
  margin: 0 auto;
  width: 300px;
}
legend { font-weight: bold; font-size: xx-large; margin-left: 15px; margin-top: -15px; }
label { cursor: pointer; margin-right: 20px; }
div.row { clear: both; padding-top: 8px; border: none; width: 98%; margin-left: auto; margin-right: auto;}
.noBorder { border: none; }
.center { text-align: center; }
.bold { font-weight: bold; }
.big { font-size: larger; }
.closeButton {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 32px;
  height: 32px;
  background: url(images/closeButton.png) no-repeat;
  cursor: pointer;
}
.errMsg {
  min-width: 250px;
  max-width: 95%;
  min-height: 32px;
  max-height: 95%;
  width: auto;
  background-color: #FFF45A;
  background-color: #FCC; /*transparent;*/
  color: black;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  display: none;/**/
  overflow: auto;
  border: 2px solid #933;
  border-radius: 12px;
  box-shadow: 2px 2px 6px #A7A7D3, inset 1px 1px 3px #A7A7D3;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
  padding-right: 40px;
  overflow: auto;
}
.errMsgContent {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.red {background-color: transparent;  color: red;}
.orange { background-color: transparent; color: orange }
.small {font-size: smaller;}
.validCSS { float: right; margin-top: 10px; }
.validXHTML { float: left; margin-top: 10px; margin-left: 5px; }
#title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  width: 100%;
  height: 30px;
  z-index: 60;
  background-color: transparent;
  background-image: url(images/titlebar.png);
  background-position: bottom;
  background-repeat: repeat-x;
  margin: 0;
  padding: 0px;
}
#titlespan {
  background-color: transparent;
  color: #229;
  z-index: 50;
  width: 100%;
}
#leftLogo {
  background-image: url(images/logo.php);
  background-repeat: no-repeat;
  background-position: left 0;
  width: 100%;
  height: 128px;
  border: none;
  margin: 0;
  padding: 0;
  float: none;
  z-index: 100;
}
#rightLogo {
  background-image: url(images/logo2.php);
  background-repeat: no-repeat;
  background-position: right 0;
  width: 512px;
  height: 128px;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
}

#rssContainer {
  width: 98.5%;
  min-height: 300px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  overflow: hidden;
}
#rssTitle {
  width: 100%;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
#rssOutput {
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  overflow: auto;
  padding: 5px;
  border-top: 1px solid #000;
}

#help {
  top: 5px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  z-index: 5;
  background-color: transparent;
  background-color: #FFFFCC;
}

#showHelp {
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 5px;
  right: 0;
  background-color: #FFFFCC;
  padding: 5px;
  display: none;
  overflow: auto;
  border: none;
}

#container{
  margin: 0 auto;
  padding: 1em;
  text-align: left;
  background-color: #DDE;
  overflow: auto;
  height: 80%;
}
#response, #chatLog {
  clear: both;
  padding-top: 8px;
  border: none;
  width: 98%;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 6px 1px #000, inset 4px 4px 2px 1px #FFF, inset -1px -1px 4px #025;
  border-radius: 4px;
}
#response {
  min-height: 80px;
}
#chatLog {
  min-height: 200px;
  overflow: auto;
}

.helpButton {
  background:url(images/help_small.png) no-repeat 0 0;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
}

.floatRight {float: right;  clear: none;}
.floatLeft {float: left;  clear: none;}

#notes {
  text-align: left;
  background-color: #DDFFFF;
  border: 1px outset #999;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: top;
  margin-bottom: -3px;
}
#notes p {
  width: 95%;
  margin:0.5em auto 0 auto;
}
.label, .input {
  background-color: #AAE;
  background-color: white;
}

.label {
  width: 70%;
  float: left;
  clear: none;
  height: 1.6em;
  margin: 0 0 2px 0;
}
.label label {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  padding: 3px 0 0 3px;
}
.label label span {
  float: right;
  width: 18px;
  background: transparent url(images/help_small.png) no-repeat center top;
  margin: 2px 4px 0 0;

}

.input {
  width: 30%;
  float: right;
  clear: none;
  min-height: 1.6em;
}
.input input {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0.2em;
  min-height: 1.6em;
}
.input input[type=radio], .input input[type=checkbox] {
  float: left;
  clear: none;
  width: auto;
  padding: 4px;
}
.input label {
  margin-left: 4px;
  display: block;
  clear: none;
  margin: 0;
}

.sectionHeader {
  background: url(images/sectionHeader.png) repeat-x;
  margin: 3px 0;
  width: 100%;
  height: 30px;
}


/* Media Queries place after regular CSS or they don't always work */
@media screen and (max-width: 800px){
  #rightLogo {
    background-image: none;
  }
}


@media screen and (max-width: 1280px){
  body {
    padding: 0;
    overflow: auto;
    background-color: white;
  }

  #container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: transparent;/**/
    margin: 0;
    padding: 0;
  }
  #form_table {
    width: 100%;
    margin: 0;
  }


}
